<!-- Navigation-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-5 col-md-4 col-lg-3 col-xl-2 mr-0" href="/">Image Processing ToolBox</a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3 mr-3 text-white" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="bd-docs-nav" aria-expanded="true" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>
</nav>