<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/image_histogram" id="image_histogram">
                    <span data-feather="home"></span>
                    Image Histogram
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/histogram_equalization" id="histogram_equalization">
                    <span data-feather="file"></span>
                    Histogram Equalization
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/edge_detection" id="edge_detection">
                    <span data-feather="shopping-cart"></span>
                    Edge Detection
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/image_fourier_transformation" id="image_fourier_transformation">
                    <span data-feather="users"></span>
                    Image Fourier Transformation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/adding_noise" id="adding_noise">
                    <span data-feather="bar-chart-2"></span>
                    Adding Noise
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-nav-link" href="/removing_noise" id="removing_noise">
                    <span data-feather="layers"></span>
                    Removing Noise
                </a>
            </li>
        </ul>
    </div>
</nav>
