{% extends 'base.html' %}

{% block head %}
    <title>Adding Noise</title>
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Adding Noise</h1>
    </div>
    <div>
        <form action="/adding_noise" method='POST' enctype="multipart/form-data">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file"
                        class="custom-file-input"
                        id="file"
                        name="file"
                        accept="image/png, image/jpeg"
                        required>

                    <label class="custom-file-label" for="file" id="file-label">Choose file...</label>
                    <div class="invalid-feedback">Image is required and of type jpeg</div>
                </div>
            </div>
            <div class="form-group">
                <select class="custom-select" id="noise_type" name="noise_type" required>
                    <option value="">Select Noise Type...</option>
                    <option value="Salt and Pepper">Salt and Pepper</option>
                    <option value="Gaussian">Gaussian</option>
                    <option value="Periodic">Periodic</option>
                </select>
                <div class="invalid-feedback">Required Field</div>
            </div>
            <div id="Salt and Pepper" class="noise_type" hidden>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Salt to Pepper Ratio</span>
                    </div>
                    <input type="text" class="form-control" name="s_to_p_ratio" aria-label="Salt to Pepper Ratio">
                </div>
                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Amount of Pixles</span>
                    </div>
                    <input type="text" class="form-control" name="amount" aria-label="Amount of Pixles">
                </div>
            </div>
            <div id="Gaussian" class="noise_type" hidden>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Mean</span>
                    </div>
                    <input type="text" class="form-control" name="mean" aria-label="Mean">
                </div>
                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Standard Deviation</span>
                    </div>
                    <input type="text" class="form-control" name="sigma" aria-label="Sigma">
                </div>
            </div>
            <div id="Periodic" class="noise_type" hidden>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">X Axis Frequency</span>
                    </div>
                    <input type="text" class="form-control" name="x_axis_frequency" aria-label="X Axis Frequency">
                </div>
                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Y Axis Frequency</span>
                    </div>
                    <input type="text" class="form-control" name="y_axis_frequency" aria-label="Y Axis Frequency">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
{% endblock %}